node_modules
.astro/data-store.json
.astro/dev.json
.astro/dev.log
.astro/settings.json
dist/*
!dist/.gitkeep
docs/*
!docs/GUIA_PUBLICACION.md
!docs/DOCUMENTACION_TECNICA_BLOG.md
!docs/DOCUMENTACION_TECNICA_BLOG.pdf
